<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QAP2</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      &bull;
      <a href="/products">Products</a>
      &bull;
      <a href="/subscribe">Subscribe</a>
      &bull;
      <a href="/about">About</a>
      &bull;
      <a href="/contact">Contact</a>
      &bull;
      <a href="/news">Canadian News</a>
    </nav>
    <div class="panel">
      <h2>Subscribe</h2>
      <p>
        This is a page for subscribing to a mailing list, or maybe a social
        media feed.
      </p>
    </div>
  </body>
</html>
