body {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(147, 102, 166, 1) 100%
  );

  color: rgb(77, 32, 96);
}

nav {
  margin: 18px 128px;
  margin-top: 64px;

  padding: 8px 32px;
  background-color: #fff;
  border-radius: 12px;
}

nav a {
  display: inline-block;
  margin: auto 12px;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

  color: rgb(147, 102, 166);
}

a:hover {
  color: rgb(107, 62, 126);
}

hr {
  border: none;
  border-top: 1px solid rgb(57, 12, 76);
}

.panel {
  margin: 8px 128px;

  padding: 8px 32px;
  background-color: #fff;
  border-radius: 12px;
}

.error {
  color: #f66;
}
